.c-button {
  @apply
    font-bold
    rounded-full
    disabled:opacity-60
    text-white
    hover:opacity-80
    border-0
    cursor-pointer
    w-max
    md:text-xl
    text-lg
    flex
    items-center
    justify-center
    gap-2
  ;
  &--variant-fill-primary {
    @apply bg-gray-100;
  }
  &--variant-fill-accent {
    @apply bg-red-500;
  }
  &--variant-text {
    @apply bg-transparent text-blue-berry text-lg;
  }
  &--size-xl {
    @apply px-6 py-[1.125rem] md:leading-6 md:py-5 md:px-10 md:text-xl;
  }
  &--size-md {
    @apply px-6 py-[0.875rem];
  }
}
